@using TropicalBudget.Utilities
@model PlanItem
@{
    ViewData["Title"] = "Edit Plan Item";
    List<TransactionCategory> transactionCategories = (List<TransactionCategory>)TempData["TransactionCategories"];
    List<TransactionType> transactionTypes = (List<TransactionType>)TempData["TransactionTypes"];
        List<Transaction> transactions = (List<Transaction>)TempData["Transactions"];
}

<div class="text-center">
    <h1 class="display-4">Edit Plan Item</h1>
    <div>
        @using (Html.BeginForm("EditExistingPlanItem", "Plan"))
        {
            @Html.AntiForgeryToken()
            ;
            <div class="d-flex flex-column gap-2">
                @Html.HiddenFor(x => x.ID)
                @Html.HiddenFor(x => x.BudgetID)
                @Html.HiddenFor(x => x.Year)
                @Html.HiddenFor(x => x.Month)
                @Html.LabelFor(x => x.Amount)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    @Html.TextBoxFor(x => x.Amount, new { @placeholder = "Amount", @type = "number", @min = 0, @class = "form-control", @step = "0.01", @required = true })
                </div>
                @if (transactionCategories == null || transactionCategories.Count <= 0)
                {
                    <div class="alert alert-danger" role="alert">
                        No categories available. Please <a asp-controller="Category" asp-action="Index">add a category</a> first.
                    </div>
                }
                @Html.LabelFor(x => x.CategoryID, "Category")
                <p class="subtext small">*Categories already assigned a plan will not show in this list</p>
                @Html.DropDownListFor(x => x.CategoryID, new SelectList(transactionCategories, "ID", "Name"), new { @class = "form-select", @required = true, @onchange = "onCategoryChanged(this.options[this.selectedIndex].value)" })
                @Html.LabelFor(x => x.TransactionTypeID, "Transaction Type")
                @Html.DropDownListFor(x => x.TransactionTypeID, new SelectList(transactionTypes, "ID", "Name"), new { @class = "form-select", @onchange = "onTransactionTypeChanged(this.options[this.selectedIndex].text)", @required = true })
                <input type="submit" name="SaveButton" class="btn btn-primary" value="Save" />
                <input type="button" name="ExitButton" onclick="navigateToHome()" class="btn btn-outline-primary" value="Exit" />
                <input type="button" name="DeleteButton" onclick="deletePlanItem()" class="btn btn-outline-danger my-4" value="Delete" />

            </div>
        }
    </div>
</div>

<div id="transactions">

</div>

<script>
    const navigateToHome = () =>{
        location.href = "@Url.Action("Index", "Plan")" +"?budgetID=@(Model.BudgetID.ToString())&year=@(Model.Year)&month=@(Model.Month)";
    }

    document.addEventListener('DOMContentLoaded', () => {
        onCategoryChanged('@Model.CategoryID')
})

    const onCategoryChanged = (category) => {
        var transactionList = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(transactions));
        
        transactionList = transactionList.filter(list => list.CategoryID == category)

        transactionList.sort((a,b) => new Date(a.TransactionDate)-new Date(b.TransactionDate));

        const transactionsGroupedByDate = Object.groupBy(transactionList, (item) => {
            const d = new Date(item.TransactionDate)
            return d
        })

        //order transactions in descending order
        const orderedGrouping = Object.entries(transactionsGroupedByDate)
        .sort((a, b) => new Date(b[0]) - new Date(a[0]))
        .map(([key, items]) => ({ key, items }));

        let transactionsHtml = `<div>`

        orderedGrouping.forEach(group => {
             const formattedDate = new Intl.DateTimeFormat('en-US', {
                weekday: 'short',
                month: 'short',
                day: '2-digit'
                }).format(new Date(group.key));

            transactionsHtml += `
            <div class="d-flex justify-content-between align-items-center my-2">
                <h2>${formattedDate}</h2>
            </div>
            `
            group.items.forEach(item => {
                const formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                });

                transactionsHtml+=`
                <div class="d-flex flex-column gap-2 mb-2" style="border-left: 2px solid ${item.CategoryColor}">
                    <div class="d-flex align-items-center justify-content-between bg-light py-2 px-2 rounded">
                        <div class="d-flex flex-column">
                            <span class="fs-4 fw-normal">${item.Note ?? ""}</span>
                            <span class="${item.Note? "fs-6 fw-light":"fs-4 fw-normal"}">${item.CategoryName}</span>
                        </div>
                        <span class="fw-bold fs-5">${formatter.format(item.Amount)}</span>
                    </div>
                </div>`
            })
        })

        transactionsHtml+=`</div>`

        $("#transactions").html(transactionsHtml)

    }
    const onTransactionTypeChanged = (transactionType) =>  {
        const source_label = document.getElementById('source-label');
        if(transactionType == "@TransactionUtility.TRANSACTION_TYPE_EXPENSE"){
            source_label.innerText = "From";
        }else if(transactionType == "@TransactionUtility.TRANSACTION_TYPE_INCOME"){
            source_label.innerText = "To";

        }
    }

    const deletePlanItem = () => {
        if(confirm("Are you sure you want to delete this plan item?") == true){
            location.href = "@Url.Action("DeletePlanItem", "Plan")" +`?budgetID=${"@(Model.BudgetID.ToString())"}` + "&planID=@(Model.ID)&year=@(Model.Year)&month=@(Model.Month)";
        }
    }
</script>