@model Tuple<Guid, List<Transaction>>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AI Insights";


    List<Transaction> transactions = Model.Item2;
    Guid budgetID = Model.Item1;

    string currentMonthString = TempData.ContainsKey("currentMonthString") ? (string)TempData["currentMonthString"] :
string.Empty;
    DateTime startDate = (DateTime)TempData["startDate"];
    string budgetName = TempData["BudgetName"].ToString();
    int currentMonth = startDate.Month;
    int currentYear = startDate.Year;
    int nextMonth = startDate.AddMonths(1).Month;
    int nextYear = startDate.AddMonths(1).Year;
    int previousMonth = startDate.AddMonths(-1).Month;
    int previousYear = startDate.AddMonths(-1).Year;

    Dictionary<string, string> newTransactionRouteData = new()
    {
        {"budgetID", budgetID.ToString()}
    };
    Dictionary<string, string> fullTransactionRouteData = new()
    {
        {"budgetID", budgetID.ToString()},
        {"year", startDate.Year.ToString()},
        {"month", startDate.Month.ToString()},
    };

}
<div class="text-center">
    <h2 class="fs-1">AI Insights: @budgetName</h2>
    <div class="d-flex justify-content-between align-items-center gap-2 p-1 my-2 rounded-pill">
        <div onclick="previousMonth()" style="cursor:pointer"
             class="btn-outline-primary border border-primary d-flex align-items-center py-1 px-4 rounded-pill">
            <i class="bi bi-chevron-left fs-4" style="cursor:pointer"></i>
            <span class="d-none d-sm-block">@(startDate.AddMonths(-1).ToString("MMMM, yyyy"))</span>
        </div>
        <div class="d-flex flex-column gap-2">
            <p class="fs-5 fw-bold m-0">@currentMonthString</p>
            <p class="fs-6 fw-normal m-0 text-uppercase">@(transactions.Count) transactions</p>
        </div>
        <div onclick="nextMonth()" style="cursor:pointer"
             class="bg-primary d-flex align-items-center text-white py-1 px-4 rounded-pill">
            <span class="d-none d-sm-block">@(startDate.AddMonths(1).ToString("MMMM, yyyy"))</span>
            <i class="bi bi-chevron-right fs-4"></i>
        </div>
    </div>
    <partial name="~/Views/Home/_SpendingListBanner.cshtml" model="transactions" />
</div>

@* Button row *@
<div class="d-flex flex-wrap justify-content-end align-items-center gap-2 my-3">
    <a class="text-decoration-none py-1 px-4 d-block rounded-pill d-flex gap-2 btn btn-outline-primary border border-primary"
           asp-controller="Insights" asp-action="AI" asp-all-route-data="newTransactionRouteData">
        <span>Today</span>
        <i class="bi bi-calendar-check"></i>
    </a>
    <a class="text-decoration-none py-1 px-4 d-block rounded-pill d-flex gap-2 btn btn-outline-success border border-success"
           asp-controller="Insights" asp-action="Index" asp-all-route-data="fullTransactionRouteData">
        <span>Insights</span>
        <i class="bi bi-graph-up-arrow"></i>
    </a>
    <a id="spendingListButton"
           class="text-decoration-none py-1 px-4 rounded-pill d-flex gap-2 btn-outline-secondary border border-secondary"
           asp-controller="Transaction" asp-action="Index" asp-all-route-data="fullTransactionRouteData"
           style="cursor:pointer">
        <span>Budget</span>
        <i class="bi bi-card-list"></i>
    </a>
    <a id="planBudgetButton"
           class="text-decoration-none py-1 px-4 rounded-pill d-flex gap-2 btn-outline-success border border-success"
           asp-controller="Plan" asp-action="Index" asp-all-route-data="fullTransactionRouteData" style="cursor:pointer">
        <span>Plan</span>
        <i class="bi bi-card-checklist"></i>
    </a>
</div>

<div id="ai-insights-container">
    <div class="w-100 d-flex flex-column justify-content-center align-items-center gap-4 text-center">
        <span>Generating Insights</span>
        <div class="spinner-border text-success" role="status">
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', () => {
        $.ajax({
            type: "POST",
            url: "/Insights/GetAIInsights",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                budgetID: "@budgetID",
                year: "@currentYear",
                month: "@currentMonth"
            }),
            success: (response) => {
                console.log("response: ", response)
                $("#ai-insights-container").html(response.message);
            },
            error: (xhr, status, error) => {
                console.log("Error: ", error)
                $("#ai-insights-container").html(
                    `<div class="w-100 d-flex flex-column justify-content-center align-items-center gap-4 text-center">
                        <span>An error occurred while generating insights, please try again later.</span>
                    </div>`
                );
            }
        })
    });

    

    const nextMonth = () => {
        location.href = "@Url.Action("AI", "Insights")" + `?budgetID=${"@(budgetID.ToString())"}&year=${@(nextYear)}&month=${@(nextMonth)}`;
    }
    const previousMonth = () => {
        location.href = "@Url.Action("AI", "Insights")" + `?budgetID=${"@(budgetID.ToString())"}&year=${@(previousYear)}&month=${@(previousMonth)}`;
    }
</script>